.main-content {
    width: 100%;
    display: flex;
    padding: 72px 7% 0px 7%;
}

.main-content form {
    width: 100%;
    display: flex;
    gap: 2%;
}

.list-prods {
    width: 65%;
}

.list-prods__table {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

.list-prods__row-head {
    font-weight: 500;
    line-height: normal;
}

.list-prods__row-head>th {
    font-weight: inherit;
    padding: 15px 0px;
    background-color: #F9F1E7;
    text-align: start;
    padding-left: 5px;
}

.list-prods__row-head__quantity {
    padding-left: 0px !important;
    text-align: center !important;
}

.list-prods__row-prod>td {
    padding: 55px 0px;
    padding-left: 5px;
}

.list-prods__row-prod td:first-child div {
    width: 105px;
    height: 105px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #F9F1E7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-prods__row-prod td:first-child div img {
    width: 100%;
    object-fit: cover;
}

.list-prods__row-prod__input,
.list-prods__row-prod__delete {
    padding-left: 0px !important;
    text-align: center;
}

.list-prods__row-prod__delete div {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 50%;
}

.list-prods__row-prod__delete div:hover {
    background-color: var(--black);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.list-prods__row-prod__input input {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--color-gray-2);
    text-align: center;
}

.list-prods__row-prod__input input:hover {
    background-color: var(--color-gray-2);
    transition: ease-in-out 0.2s;
}

.list-prods__row-prod__input input[type="number"] {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-prods__row-prod__name,
.list-prods__row-prod__price {
    font-weight: 400;
    line-height: normal;
    color: var(--color-gray-2);
}

.list-prods__row-prod__total {
    font-weight: 400;
    line-height: normal
}

.amount {
    width: 37%;
    background-color: #F9F1E7;
}

.amount__title {
    font-weight: 600;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.amount__number {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 61px;
}

.amount__number__title {
    font-weight: 500;
    line-height: normal;
}

.amount__number__subtotal__number {
    font-weight: 400;
    line-height: normal;
    color: var(--color-gray-2);
}

.amount__number__total__number {
    font-weight: 500;
    line-height: normal;
    color: var(--primary);
}

.amount__number__subtotal,
.amount__number__total {
    display: flex;
    justify-content: space-between;
    padding: 0px 75px;
}

.amount__button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 80px;
    font-weight: 400;
    line-height: normal;
}

.amount__button button {
    all: unset;
    font: inherit;
    background-color: #F9F1E7;
    border: 1px solid var(--black);
    border-radius: 15px;
    padding: 14px 59px;
}

.amount__button button:hover {
    background-color: var(--black);
    color: var(--white);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}