.header {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background-color: var(--white);
    padding: 29px 7% 30px 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left-options,
.right-options {
    width: 30px;
    height: 30px;
    display: none;
}

.left-options>img,
.right-options>img {
    width: 100%;
}

.logo {
    display: flex;
}

.logo__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo__icon {
    width: 50px;
    height: 32px;
}

.logo__icon img {
    width: 100%;
    object-fit: cover;
}

.navigators {
    margin-left: 100px;
}

.navigators__list {
    list-style: none;
    display: flex;
    gap: 55px;
    font-weight: 500;
    line-height: normal;
}

.navigators__item {
    padding: 20px;
}

.navigators__item:hover {
    background-color: var(--primary);
    color: var(--white);
}

.tools__list {
    list-style: none;
    display: flex;
    gap: 5px;
}

.tools__item {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    background: var(--white);
    padding: 10px;
}

.tools__item:hover {
    background-color: var(--primary);
    color: var(--white);
}

.tools__item img {
    width: 100%;
    object-fit: cover;
}

.footer {
    width: 100%;
    height: 505px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding: 0px 100px;

}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
    border-bottom: 1px solid var(--color-gray-3);
}

.address__title {
    color: var(--black);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.address__paragraph {
    width: 285px;
    color: var(--color-gray-2);
    font-weight: 400;
    line-height: normal;
}

.footer-info {
    display: flex;
    gap: 72px;
}

.links,
.help {
    width: 140px;
}

.newsletter {
    margin-right: 105px;
}

.footer-info__title {
    color: var(--color-gray-2);
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px;
}

.footer-info__options__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 36px;
}
.footer-info__options__item {
    padding: 10px 0px 10px 10px;
}

.footer-info__options__item:hover {
    background-color: var(--primary);
    color: var(--white);
}

.newsletter__form {
    display: flex;
    gap: 11px;
}

.newsletter__form__input {
    border: none;
    border-bottom: 1px solid var(--black);
    width: 200px;
    padding: 3px;
}

.newsletter__form__input::placeholder {
    color: var(--color-gray-2);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.newsletter__form__button {
    width: 80px;
    font-weight: 500;
    line-height: normal;
    background-color: var(--white);
    border: none;
    border-bottom: 1px solid var(--black);
    text-align: center;
}

.newsletter__form__button:hover {
    background-color: var(--black);
    color: var(--white);
}

.footer-bottom {
    padding: 35px 0px 38px;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 768px) {
    .header {
        padding: 29px 10px 30px 10px;
        justify-content: space-between;
    }

    .hidden {
        display: none !important;
    }

    .navigators {
        position: absolute;
        left: 0px;
        top: 90px;
        z-index: 900;
        background-color: var(--white);
        margin: 0px;
        transition: all 1s ease-in-out;
    }

    .tools {
        position: absolute;
        right: 0px;
        top: 90px;
        z-index: 900;
        background-color: var(--white);
        margin: 0px;
        transition: all 0.5s ease-in-out;
    }

    .navigators__list {
        flex-direction: column;
        padding: 10px;
        gap: 0px;
    }

    .navigators__item {
        padding: 20px;
    }

    .tools__list {
        padding: 10px;
    }

    .left-options,
    .right-options {
        display: inline-block;
    }

    .right-options:active {
        transform: rotate(180deg);
    }

    .footer {
        padding: 50px;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .address__title {
        margin-bottom: 10px;
    }

    .links,
    .help {
        width: 30%;
    }

    .newsletter {
        width: 100%;
    }

    .footer-info__title {
        margin-bottom: 10px;
    }
}