:root {
    --white: #fff;
    --black: #000;
    --color-gray-1: #3A3A3A;
    --color-gray-2: #9F9F9F;
    --color-gray-3: #D9D9D9;
    --color-gray-4: #727272;
    --color-gray-5: #E8E8E8;
    --color-gray-6: #898989;
    --primary: #B88E2F;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    min-width: 1280px;
}

@media (max-width: 768px) {
    .container {
        min-width: unset;
        width: 100%;
    }
}

body {
    background-color: var(--white);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.font-12px {
    font-size: 12px;
    font-style: normal;
}

.font-13px {
    font-size: 13px;
    font-style: normal;
}

.font-14px {
    font-size: 14px;
    font-style: normal;
}

.font-16px {
    font-size: 16px;
    font-style: normal;
}

.font-18px {
    font-size: 18px;
    font-style: normal;
}

.font-20px {
    font-size: 20px;
    font-style: normal;
}

.font-24px {
    font-size: 24px;
    font-style: normal;
}

.font-25px {
    font-size: 25px;
    font-style: normal;
}

.font-28px {
    font-size: 28px;
    font-style: normal;
}

.font-32px {
    font-size: 32px;
    font-style: normal;
}

.font-36px {
    font-size: 36px;
    font-style: normal;
}

.font-48px {
    font-size: 48px;
    font-style: normal;
}

.alert {
    padding: 10px 20px;
    background-color: var(--primary);
    color: var(--white);
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    z-index: 1000;
}