:root {
    --primary: #fff;
    --secondary: #000;
    --color-gray-1: #3A3A3A;
    --color-gray-2: #9F9F9F;
    --color-gray-3: #D9D9D9;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--primary);
}

.font-14px {
    font-size: 14px;
    font-style: normal;
}

.font-16px {
    font-size: 16px;
    font-style: normal;
}

.font-24px {
    font-size: 24px;
    font-style: normal;
}